{% extends "base.html" %}
{% block content %}

<h4>Create Test</h4>

<form method="post">

<input name="title" class="form-control mb-2" placeholder="Title">

<select name="section_id" class="form-select mb-2">
{% for s in sections %}
<option value="{{s[0]}}">{{s[1]}}</option>
{% endfor %}
</select>

<select name="status" class="form-select mb-2">
<option>Passed</option>
<option>Failed</option>
</select>

<div id="steps" contenteditable="true"
     class="form-control mb-2"
     style="min-height:150px;"></div>

<input type="hidden" name="steps" id="steps_input">

<textarea name="expected" class="form-control mb-2"></textarea>

<button class="btn btn-dark">Save</button>

</form>

<script>
const steps = document.getElementById("steps");

// paste
steps.addEventListener("paste", async (e) => {
  let items = e.clipboardData.items;

  for (let item of items) {
    if (item.type.startsWith("image")) {
      e.preventDefault();

      let file = item.getAsFile();
      let fd = new FormData();
      fd.append("file", file);

      let res = await fetch("/upload", { method:"POST", body:fd });
      let data = await res.json();

      document.execCommand("insertImage", false, data.url);
    }
  }
});

// drag
steps.addEventListener("drop", async (e) => {
  e.preventDefault();

  let file = e.dataTransfer.files[0];
  let fd = new FormData();
  fd.append("file", file);

  let res = await fetch("/upload", { method:"POST", body:fd });
  let data = await res.json();

  document.execCommand("insertImage", false, data.url);
});

// save
document.querySelector("form").onsubmit = () => {
  document.getElementById("steps_input").value = steps.innerHTML;
};
</script>

{% endblock %}