{% extends "base.html" %}
{% block content %}

<form method="post">

<input name="title" placeholder="Title" class="form-control mb-2">

<select name="section_id" class="form-select mb-2">
{% for s in sections %}
<option value="{{s[0]}}">{{s[1]}}</option>
{% endfor %}
</select>

<select name="status" class="form-select mb-2">
<option>Passed</option>
<option>Failed</option>
<option>Blocked</option>
</select>

<textarea name="steps" class="form-control mb-2"></textarea>

<textarea name="expected" class="form-control mb-2"></textarea>

<button class="btn btn-dark">Save</button>

</form>

{% endblock %}